*.class
*.jar
poke/src/Permalink.xml
poke/src/MyResources.properties
poke/src/log4j.properties
poke/src/Access.xml
poke/build/classes/Permalink.xml
poke/build/classes/MyResources.properties
poke/build/classes/log4j.properties
poke/build/classes/Access.xml
poke/.settings/org.eclipse.wst.jsdt.ui.superType.name
poke/.settings/org.eclipse.wst.jsdt.ui.superType.container
poke/.settings/org.eclipse.wst.common.project.facet.core.xml
poke/.settings/org.eclipse.wst.common.component
poke/.settings/org.eclipse.jdt.core.prefs
poke/.settings/.jsdtscope
poke/.project
poke/.classpath
PokemonTCG/.settings/org.eclipse.wst.common.component
PokemonTCG/src/Access.xml
PokemonTCG/.settings/org.eclipse.wst.common.project.facet.core.xml
PokemonTCG/src/MyResources.properties
PokemonTCG/src/log4j.properties
PokemonTCG/.settings/org.eclipse.wst.jsdt.ui.superType.name
PokemonTCG/.settings/org.eclipse.wst.jsdt.ui.superType.container
PokemonTCG/.settings/org.eclipse.jdt.core.prefs
PokemonTCG/.settings/.jsdtscope
PokemonTCG/.project
PokemonTCG/.classpath
PokemonTCG/WebContent/META-INF/MANIFEST.MF
PokemonTCG/src/Permalink.xml
